@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

.item {
    justify-content: space-between;
    width: 100%;
    background-color: rgb(227, 231, 235);
    padding: 3rem;
    border-radius: 1.5rem;
}

.item-field {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 2.3rem;
}

.item-field span {
    font-weight: 400;
    font-size: 2rem;
}