html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #323232;
  width: 75vw;
  margin: 3rem auto;
  border: 1px solid azure;
  border-radius: 1.5rem;
  padding: 3rem;
  gap: 3rem;
}

.card-img {
  width: 30vw;
  border-radius: 1.5rem;
}

.card-info {
  gap: 2rem;
}

.card-info__name {
  font-size: 4rem;
  font-weight: 900;
  font-family: Andale Mono, monospace;
  text-decoration: underline;
  letter-spacing: .6rem;
  color: azure;
}

.card-info__years {
  width: 100%;
  justify-content: right;
  gap: 3rem;
  color: rgb(169, 250, 250);
  font-size: 1.5rem;
}

.card-info__content{
  font-size: 2rem;
  font-family: Bradley Hand, cursive;
  text-align: left;
  color: azure;
}