@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kanit:wght@400;700&family=Sigmar&display=swap');

html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  background-color: var(--color-black);
}

:root {
  --regular: 400;
  --bold: 700;
  --title-ff: 'Sigmar', cursive;
  --title-fs: 4rem;
  --subtitle-ff: 'Bruno Ace SC', cursive;
  --subtitle-fs: 3rem;
  --main-fs: 2.4rem;
  --main-ff: 'Kanit', sans-serif;
  --gap: 3rem;
  --color-blue: turquoise;
  --color-red: tomato;
  --color-light: azure;
  --color-black: #232323;
  --letter-spacing: .9rem;
  --padding: 2rem;
  --border-radius: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.main {
  margin: 3rem auto;
  gap: var(--gap);
  width: 80vw;
  text-align: center;
  align-items: center;
}

.title {
  font-size: var(--title-fs);
  font-family: var(--title-ff);
  color: var(--color-blue);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--regular);
}

.container {
  gap: var(--gap);
  align-items: center;
  width: 100%;
}

.search {
  width: 100%;
  padding: calc(var(--padding) / 2) calc(var(--padding) * 2);
  font-size: var(--main-fs);
  font-family: var(--main-ff);
  font-weight: var(--regular);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius);
}

.subtitle {
  font-family: var(--subtitle-ff);
  font-weight: var(--regular);
  font-size: var(--subtitle-fs);
  color:var(--color-red);
  letter-spacing: calc(var(--letter-spacing) * 2);
  text-transform: uppercase;
}

.item {
  padding: var(--padding);
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  justify-content: space-between;
  width: 100%;
}

.item-pic {
  width: 4rem;
}

.item-field {
  font-family: var(--main-ff);
  font-weight: var(--regular);
  font-size: var(--main-fs);
}

span {
  font-weight: var(--bold);
  text-transform: uppercase;
}