html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding: 3rem auto;
}

.title {
  color: azure;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 1rem;
}

.container-title {
  font-size: 2.5rem;
  color: azure;
  letter-spacing: 1rem;
}